@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%; /*ベースを16pxから10pxにする*/
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  background: #fff;
  font-size: 1.6rem;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.l-header {
  width: 100%;
  height: 21.5rem;
  background: #FFF7EF;
  display: flex;
  align-items: center;
}
.l-header__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 1280px) {
  .l-header__contents {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6.5rem;
    margin-right: 3.1rem;
  }
}
.l-header__contents h1 {
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}
@media (min-width: 1280px) {
  .l-header__contents h1 {
    margin-bottom: 0;
  }
}

.l-menu-button {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .l-menu-button {
    top: 2rem;
    right: 2.5rem;
  }
}

.l-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.l-container .l-container {
  flex: 1;
}

.l-main-visual {
  position: relative;
  width: 100%;
}
.l-main-visual img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.l-main-visual__title {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .l-main-visual__title {
    display: flex;
    align-items: center;
    margin-left: 8.6rem;
  }
}
.l-main-visual__title p {
  margin-top: 1.2rem;
}
@media (min-width: 768px) {
  .l-main-visual__title p {
    margin-left: 1.9rem;
    margin-top: 1rem;
  }
}
.l-main-visual--front-page {
  height: 28.5rem;
}
@media (min-width: 1280px) {
  .l-main-visual--front-page {
    height: 53rem;
  }
}
.l-main-visual--archive {
  position: relative;
  height: 28.5rem;
}
@media (min-width: 1280px) {
  .l-main-visual--archive {
    height: 24rem;
  }
}
.l-main-visual--archive img {
  opacity: 0.5;
}
.l-main-visual--single {
  position: relative;
  margin-bottom: 3.4rem;
}
@media (min-width: 768px) {
  .l-main-visual--single {
    height: 50.5rem;
    margin-bottom: 6rem;
  }
}
@media (min-width: 1280px) {
  .l-main-visual--single {
    height: 50rem;
    margin-bottom: 6.3rem;
  }
}
.l-main-visual--single__title {
  padding-top: 21rem;
  padding-bottom: 20rem;
}
.l-main-visual--single.no-thumbnail {
  height: auto;
  padding-top: 10rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .l-main-visual--single.no-thumbnail {
    padding-top: 20rem;
  }
}
.l-main-visual--single.no-thumbnail .l-main-visual__title {
  margin-left: 0;
}
@media (min-width: 768px) {
  .l-main-visual--single.no-thumbnail .l-main-visual__title {
    margin-left: 2%;
  }
}
@media (min-width: 1280px) {
  .l-main-visual--single.no-thumbnail .l-main-visual__title {
    margin-left: 4%;
  }
}

.l-branch-menu {
  margin: 2rem 2rem 5rem 2rem;
}
@media (min-width: 768px) {
  .l-branch-menu {
    margin: 4rem;
  }
}
@media (min-width: 1280px) {
  .l-branch-menu {
    margin: 7%;
  }
}
@media (min-width: 768px) {
  .l-branch-menu ul {
    display: flex;
    justify-content: center;
    -moz-column-gap: 4.1rem;
         column-gap: 4.1rem;
  }
}
@media (min-width: 1280px) {
  .l-branch-menu ul {
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
}
.l-branch-menu ul li {
  flex: 1;
}
@media (min-width: 768px) {
  .l-branch-menu ul li {
    margin-bottom: 0;
  }
}
.l-branch-menu ul li a:hover {
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

.l-branch-menu__wrap {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 12rem;
  background-size: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1.9;
}
@media (min-width: 768px) {
  .l-branch-menu__wrap {
    margin-top: 0;
    padding-top: 14rem;
  }
}
@media (min-width: 1280px) {
  .l-branch-menu__wrap {
    padding-top: 22rem;
  }
}
.l-branch-menu__wrap.branch-menu__img01 {
  background-image: url(../images/branch-menu_img01.jpg);
}
.l-branch-menu__wrap.branch-menu__img02 {
  background-image: url(../images/branch-menu_img02.jpg);
}
.l-branch-menu__wrap h3 {
  position: relative;
  position: absolute;
  top: 1.3rem;
  left: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 4.1rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: #EAEAEA;
}
@media (min-width: 768px) {
  .l-branch-menu__wrap h3 {
    top: 1.4rem;
    left: 1.1rem;
    font-size: 4.4rem;
    line-height: 5.2rem;
  }
}
@media (min-width: 1280px) {
  .l-branch-menu__wrap h3 {
    top: 2.8rem;
    left: 2.1rem;
    font-size: 8rem;
    line-height: 9.4rem;
  }
}
.l-branch-menu__wrap h3::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 4px #fff;
  bottom: -2rem;
  width: 3.4rem;
}
@media (min-width: 768px) {
  .l-branch-menu__wrap h3::after {
    bottom: -3rem;
    width: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .l-branch-menu__wrap h3::after {
    bottom: -4rem;
    width: 6.3rem;
  }
}
.l-branch-menu__wrap h3 span {
  color: #fff;
}

.l-access__map {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30rem;
  background: #000000;
  padding: 4.2rem 4rem 5.7rem 4rem;
}
@media (min-width: 768px) {
  .l-access__map {
    padding: 4.2rem 2.9rem 4rem 4.2rem;
  }
}
@media (min-width: 1280px) {
  .l-access__map {
    padding: 8.6rem 47% 7.5rem 7.6%;
  }
}
.l-access__map img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
@media (min-width: 768px) {
  .l-access__map img {
    width: 100%;
  }
}
.l-access__map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 1;
}
.l-access__map__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.28);
  pointer-events: none; /* 透過塗りつぶしがクリックなどのイベントをブロックしないようにする */
  z-index: 2;
}
@media (min-width: 768px) {
  .l-access__map__overlay::before {
    display: none;
  }
}
@media (min-width: 1280px) {
  .l-access__map__overlay::before {
    display: block;
    width: 60%;
    height: 100%;
  }
}
.l-access__text__wrap {
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  height: auto;
  position: relative;
  z-index: 3;
}
.l-access__text__wrap h3 {
  margin: 0;
  position: relative;
  font-size: 3rem;
  line-height: 4.5rem;
}
@media (min-width: 1280px) {
  .l-access__text__wrap h3 {
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
}
.l-access__text__wrap h3::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 2px #fff;
  bottom: -1.5rem;
  width: 7.5rem;
}
@media (min-width: 1280px) {
  .l-access__text__wrap h3::after {
    bottom: -5rem;
  }
}
.l-access__text__wrap p {
  margin-top: 2.9rem;
  font-size: 1.4rem;
  line-height: 3.3rem;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .l-access__text__wrap p {
    margin-top: 11rem;
    font-size: 1.6rem;
  }
}

.l-content--archive {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .l-content--archive {
    width: 87%;
  }
}

.l-content-block {
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .l-content-block {
    margin-top: 3.9rem;
    margin-bottom: 3.7rem;
  }
}
@media (min-width: 1280px) {
  .l-content-block {
    margin-top: 6.3rem;
    margin-bottom: 7rem;
  }
}
.l-content-block h3 {
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .l-content-block h3 {
    margin-bottom: 2rem;
  }
}
.l-content-block--single {
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
}
@media (min-width: 768px) {
  .l-content-block--single {
    margin-top: 6rem;
    margin-bottom: 6.2rem;
  }
}
@media (min-width: 1280px) {
  .l-content-block--single {
    margin-top: 6.4rem;
  }
}

.l-content--404 {
  width: 90%;
  margin: 0 auto;
  padding-top: 3.2rem;
}
@media (min-width: 768px) {
  .l-content--404 {
    padding-top: 3.9rem;
  }
}
@media (min-width: 1280px) {
  .l-content--404 {
    padding-top: 6.3rem;
  }
}
.l-content--404 h2 {
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .l-content--404 h2 {
    margin-bottom: 2rem;
  }
}
.l-content--404 p {
  margin-bottom: 4rem;
}

.l-card {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 1280px) {
  .l-card {
    margin-bottom: 3rem;
  }
}
.l-card__text-area h3 {
  margin-bottom: 2.1rem;
}
@media (min-width: 1280px) {
  .l-card__text-area h3 {
    margin-bottom: 4.4rem;
  }
}
.l-card__text-area h4 {
  margin-bottom: 0.7rem;
}
@media (min-width: 1280px) {
  .l-card__text-area h4 {
    margin-bottom: 1.3rem;
  }
}
.l-card__text-area p {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .l-card__text-area p {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .l-card__text-area p {
    margin-bottom: 6rem;
  }
}
.l-card__text-area__button {
  text-align: center;
  display: block;
}
.l-card__text-area__button:hover {
  opacity: 0.5;
  transition: all 0.5s ease 0s;
}

.l-navbar {
  display: flex;
  width: 90%;
  margin: 10.5rem auto 3.2rem;
}

.l-pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .l-pagination {
    justify-content: center;
  }
}
.l-pagination__no {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.5s;
}
@media (min-width: 768px) {
  .l-pagination__no {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
    display: flex;
  }
}
.l-pagination--tab {
  display: none;
}
@media (min-width: 768px) {
  .l-pagination--tab {
    display: flex;
    margin-right: 2rem;
  }
}
.l-pagination .prev {
  border: none;
}
.l-pagination .prev img {
  margin-right: 0.8rem;
}
@media (min-width: 768px) {
  .l-pagination .prev img {
    margin-right: 1.5rem;
  }
}
.l-pagination .next {
  border: none;
}
.l-pagination .next img {
  border: none;
  margin-left: 0.8rem;
}
@media (min-width: 768px) {
  .l-pagination .next img {
    margin-left: 0;
  }
}
.l-pagination .dots {
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .l-pagination--sma {
    display: none;
  }
}

.single .l-content--single,
.single .l-content--page,
.page .l-content--single,
.page .l-content--page {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .single .l-content--single,
.single .l-content--page,
.page .l-content--single,
.page .l-content--page {
    width: 87%;
  }
}
.single .l-content--single h2,
.single .l-content--page h2,
.page .l-content--single h2,
.page .l-content--page h2 {
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .single .l-content--single h2,
.single .l-content--page h2,
.page .l-content--single h2,
.page .l-content--page h2 {
    margin-bottom: 5.5rem;
  }
}
.single .l-content--single h3,
.single .l-content--page h3,
.page .l-content--single h3,
.page .l-content--page h3 {
  margin-bottom: 2.8rem;
}
@media (min-width: 768px) {
  .single .l-content--single h3,
.single .l-content--page h3,
.page .l-content--single h3,
.page .l-content--page h3 {
    margin-bottom: 5.6rem;
  }
}
.single .l-content--single h4,
.single .l-content--page h4,
.page .l-content--single h4,
.page .l-content--page h4 {
  margin-bottom: 3.4rem;
}
@media (min-width: 768px) {
  .single .l-content--single h4,
.single .l-content--page h4,
.page .l-content--single h4,
.page .l-content--page h4 {
    margin-bottom: 7.3rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .single .l-content--single h4,
.single .l-content--page h4,
.page .l-content--single h4,
.page .l-content--page h4 {
    margin-bottom: 5.7rem;
  }
}
.single .l-content--single h5,
.single .l-content--page h5,
.page .l-content--single h5,
.page .l-content--page h5 {
  margin-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .single .l-content--single h5,
.single .l-content--page h5,
.page .l-content--single h5,
.page .l-content--page h5 {
    margin-bottom: 5.7rem;
  }
}
.single .l-content--single h6,
.single .l-content--page h6,
.page .l-content--single h6,
.page .l-content--page h6 {
  margin-bottom: 2.6rem;
}
@media (min-width: 768px) {
  .single .l-content--single h6,
.single .l-content--page h6,
.page .l-content--single h6,
.page .l-content--page h6 {
    margin-bottom: 5.7rem;
  }
}
.single .l-content--single p,
.single .l-content--page p,
.page .l-content--single p,
.page .l-content--page p {
  margin-bottom: 3.6rem;
}
@media (min-width: 768px) {
  .single .l-content--single p,
.single .l-content--page p,
.page .l-content--single p,
.page .l-content--page p {
    margin-bottom: 6rem;
  }
}
.single .l-content--single p:has(strong),
.single .l-content--page p:has(strong),
.page .l-content--single p:has(strong),
.page .l-content--page p:has(strong) {
  margin-bottom: 6.9rem;
}
@media (min-width: 768px) {
  .single .l-content--single p:has(strong),
.single .l-content--page p:has(strong),
.page .l-content--single p:has(strong),
.page .l-content--page p:has(strong) {
    margin-bottom: 15rem;
  }
}
@media (min-width: 1280px) {
  .single .l-content--single p:has(strong),
.single .l-content--page p:has(strong),
.page .l-content--single p:has(strong),
.page .l-content--page p:has(strong) {
    margin-bottom: 27.7rem;
  }
}
.single .l-content--single .l-blockquote,
.single .l-content--single .wp-block-quote,
.single .l-content--page .l-blockquote,
.single .l-content--page .wp-block-quote,
.page .l-content--single .l-blockquote,
.page .l-content--single .wp-block-quote,
.page .l-content--page .l-blockquote,
.page .l-content--page .wp-block-quote {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .single .l-content--single .l-blockquote,
.single .l-content--single .wp-block-quote,
.single .l-content--page .l-blockquote,
.single .l-content--page .wp-block-quote,
.page .l-content--single .l-blockquote,
.page .l-content--single .wp-block-quote,
.page .l-content--page .l-blockquote,
.page .l-content--page .wp-block-quote {
    margin-bottom: 6rem;
  }
}
.single .l-content--single .l-blockquote p,
.single .l-content--single .wp-block-quote p,
.single .l-content--page .l-blockquote p,
.single .l-content--page .wp-block-quote p,
.page .l-content--single .l-blockquote p,
.page .l-content--single .wp-block-quote p,
.page .l-content--page .l-blockquote p,
.page .l-content--page .wp-block-quote p {
  margin-bottom: 0;
}
.single .l-content--single .wp-block-image,
.single .l-content--page .wp-block-image,
.page .l-content--single .wp-block-image,
.page .l-content--page .wp-block-image {
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-image,
.single .l-content--page .wp-block-image,
.page .l-content--single .wp-block-image,
.page .l-content--page .wp-block-image {
    margin-bottom: 6rem;
  }
}
.single .l-content--single .wp-block-image:nth-of-type(1),
.single .l-content--page .wp-block-image:nth-of-type(1),
.page .l-content--single .wp-block-image:nth-of-type(1),
.page .l-content--page .wp-block-image:nth-of-type(1) {
  width: 100%;
}
.single .l-content--single .wp-block-image:nth-of-type(2),
.single .l-content--page .wp-block-image:nth-of-type(2),
.page .l-content--single .wp-block-image:nth-of-type(2),
.page .l-content--page .wp-block-image:nth-of-type(2) {
  width: 80%;
  aspect-ratio: 1.7/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-image:nth-of-type(2),
.single .l-content--page .wp-block-image:nth-of-type(2),
.page .l-content--single .wp-block-image:nth-of-type(2),
.page .l-content--page .wp-block-image:nth-of-type(2) {
    margin-bottom: 24rem;
  }
}
.single .l-content--single .wp-block-columns,
.single .l-content--page .wp-block-columns,
.page .l-content--single .wp-block-columns,
.page .l-content--page .wp-block-columns {
  margin-bottom: 3rem;
}
.single .l-content--single .wp-block-columns:last-of-type,
.single .l-content--page .wp-block-columns:last-of-type,
.page .l-content--single .wp-block-columns:last-of-type,
.page .l-content--page .wp-block-columns:last-of-type {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-columns:last-of-type,
.single .l-content--page .wp-block-columns:last-of-type,
.page .l-content--single .wp-block-columns:last-of-type,
.page .l-content--page .wp-block-columns:last-of-type {
    margin-bottom: 6rem;
  }
}
.single .l-content--single .wp-block-gallery,
.single .l-content--page .wp-block-gallery,
.page .l-content--single .wp-block-gallery,
.page .l-content--page .wp-block-gallery {
  margin-bottom: 3.3rem;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-gallery,
.single .l-content--page .wp-block-gallery,
.page .l-content--single .wp-block-gallery,
.page .l-content--page .wp-block-gallery {
    margin-bottom: 6rem;
    margin-top: 18rem;
  }
}
@media (min-width: 1280px) {
  .single .l-content--single .wp-block-gallery,
.single .l-content--page .wp-block-gallery,
.page .l-content--single .wp-block-gallery,
.page .l-content--page .wp-block-gallery {
    margin-bottom: 5.4rem;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-list,
.single .l-content--page .wp-block-list,
.page .l-content--single .wp-block-list,
.page .l-content--page .wp-block-list {
    margin-left: 5rem;
  }
}
.single .l-content--single .wp-block-list:nth-of-type(even),
.single .l-content--page .wp-block-list:nth-of-type(even),
.page .l-content--single .wp-block-list:nth-of-type(even),
.page .l-content--page .wp-block-list:nth-of-type(even) {
  margin-left: 1.8rem;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-list:nth-of-type(even),
.single .l-content--page .wp-block-list:nth-of-type(even),
.page .l-content--single .wp-block-list:nth-of-type(even),
.page .l-content--page .wp-block-list:nth-of-type(even) {
    margin-left: 9.8rem;
  }
}
.single .l-content--single ol.wp-block-list:nth-of-type(3),
.single .l-content--page ol.wp-block-list:nth-of-type(3),
.page .l-content--single ol.wp-block-list:nth-of-type(3),
.page .l-content--page ol.wp-block-list:nth-of-type(3) {
  margin-bottom: 5.7rem;
}
.single .l-content--single ul.wp-block-list:nth-of-type(3),
.single .l-content--page ul.wp-block-list:nth-of-type(3),
.page .l-content--single ul.wp-block-list:nth-of-type(3),
.page .l-content--page ul.wp-block-list:nth-of-type(3) {
  margin-bottom: 2.6rem;
}
@media (min-width: 768px) {
  .single .l-content--single ul.wp-block-list:nth-of-type(3),
.single .l-content--page ul.wp-block-list:nth-of-type(3),
.page .l-content--single ul.wp-block-list:nth-of-type(3),
.page .l-content--page ul.wp-block-list:nth-of-type(3) {
    margin-bottom: 5.6rem;
  }
}
.single .l-content--single .l-code, .single .l-content--single .wp-block-code,
.single .l-content--page .l-code,
.single .l-content--page .wp-block-code,
.page .l-content--single .l-code,
.page .l-content--single .wp-block-code,
.page .l-content--page .l-code,
.page .l-content--page .wp-block-code {
  white-space: pre-line;
  background-color: #F5F5F5;
  padding: 5rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .single .l-content--single .l-code, .single .l-content--single .wp-block-code,
.single .l-content--page .l-code,
.single .l-content--page .wp-block-code,
.page .l-content--single .l-code,
.page .l-content--single .wp-block-code,
.page .l-content--page .l-code,
.page .l-content--page .wp-block-code {
    margin-bottom: 6rem;
  }
}
@media (min-width: 1280px) {
  .single .l-content--single .l-code, .single .l-content--single .wp-block-code,
.single .l-content--page .l-code,
.single .l-content--page .wp-block-code,
.page .l-content--single .l-code,
.page .l-content--single .wp-block-code,
.page .l-content--page .l-code,
.page .l-content--page .wp-block-code {
    margin-bottom: 5rem;
  }
}
.single .l-content--single .wp-block-table,
.single .l-content--page .wp-block-table,
.page .l-content--single .wp-block-table,
.page .l-content--page .wp-block-table {
  margin-bottom: 6rem;
}
.single .l-content--single .wp-block-buttons,
.single .l-content--page .wp-block-buttons,
.page .l-content--single .wp-block-buttons,
.page .l-content--page .wp-block-buttons {
  margin-bottom: 3.1rem;
}
@media (min-width: 768px) {
  .single .l-content--single .wp-block-buttons,
.single .l-content--page .wp-block-buttons,
.page .l-content--single .wp-block-buttons,
.page .l-content--page .wp-block-buttons {
    margin-bottom: 6rem;
  }
}

.l-sidebar {
  height: 100vh;
  width: 87%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  z-index: 1000;
  background: #F2EDE9;
}
@media (min-width: 768px) {
  .l-sidebar {
    width: 44%;
  }
}
@media (min-width: 1280px) {
  .l-sidebar {
    position: static;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    z-index: 0;
  }
}
.l-sidebar.is-open {
  transform: translateX(0);
  transition-delay: 0.5s;
}
.l-sidebar__nav {
  margin-top: 8.4rem;
  margin-bottom: 92rem;
}
@media (min-width: 768px) {
  .l-sidebar__nav {
    margin-top: 17.8rem;
    margin-bottom: 56rem;
  }
}
@media (min-width: 1280px) {
  .l-sidebar__nav {
    margin-top: 9rem;
    margin-bottom: 20rem;
  }
}
.l-sidebar__nav ul {
  margin: 0 auto 6rem 4.6rem;
}
@media (min-width: 1280px) {
  .l-sidebar__nav ul {
    margin-bottom: 4.8rem;
  }
}
.l-sidebar__nav ul > li a {
  font-size: 2.4rem;
  color: #707070;
  text-decoration: none;
  font-weight: 700;
  line-height: 3.6rem;
}
.l-sidebar__nav ul > li a:hover {
  opacity: 0.5;
}
.l-sidebar__nav ul .sub-menu {
  margin-top: 4rem;
  margin-left: 2rem;
}
.l-sidebar__nav ul .sub-menu li {
  margin-bottom: 2rem;
}
.l-sidebar__nav ul .sub-menu li a {
  color: #707070;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
}
.l-sidebar__nav ul .sub-menu li a:hover {
  opacity: 0.5;
}
.l-sidebar__nav h3 {
  display: none;
}
@media (min-width: 1280px) {
  .l-sidebar__nav h3 {
    display: block;
    color: #707070;
    font-size: 3.4rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 4rem;
    margin: 8.4rem auto 9rem 4rem;
  }
}
@media (min-width: 1280px) {
  .l-sidebar {
    display: block;
  }
}

.l-menu-button--close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.l-footer {
  position: fixed;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.l-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  width: 100%;
}
.l-footer__menu {
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .l-footer__menu {
    top: 3rem;
  }
}
@media (min-width: 1280px) {
  .l-footer__menu {
    top: 4.1rem;
  }
}
.l-footer__menu li {
  display: inline-block;
}
.l-footer__menu li:not(:first-child)::before {
  content: "｜";
}
.l-footer__menu li:hover {
  opacity: 0.8;
}
.l-footer__copyright {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .l-footer__copyright {
    bottom: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .l-footer__copyright {
    bottom: 2.7rem;
  }
}

.c-button {
  font-weight: 700;
  border: 1px solid #707070;
}

.c-button--search {
  color: #707070;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #DED8D3, #F2EDE9);
}

body.single .wp-block-button,
body.page .wp-block-button {
  font-weight: 700;
  border: 1px solid #707070;
  width: 100%;
  height: 8.1rem;
  border-radius: 20px;
  background-image: linear-gradient(-45deg, #DED8D3, #F2EDE9);
}
@media (min-width: 768px) {
  body.single .wp-block-button,
body.page .wp-block-button {
    width: 43rem;
    height: 10.4rem;
  }
}
body.single .wp-block-button__link,
body.page .wp-block-button__link {
  color: #3C2A10;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button--card {
  background-color: #fff;
  border-radius: 9999px;
  cursor: pointer;
  padding: 1.1rem 4rem 1.4rem 4rem;
}

.c-button--404 {
  padding: 1.1rem 4rem 1.4rem 4rem;
  background-color: #707070;
  border-radius: 9999px;
  cursor: pointer;
}

.c-form {
  border: 1px solid #707070;
  border-radius: 10px;
  background: #fff;
}

@media (min-width: 768px) {
  .c-card {
    display: flex;
  }
}
.c-card__image {
  flex: 1;
}
.c-card__image img {
  width: 100%;
}
@media (min-width: 768px) {
  .c-card__image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
.c-card__text-area {
  flex: 1;
  background-color: #3C2A10;
  color: #fff;
  padding: 3.2rem 1.6rem 4.3rem 1.6rem;
}
@media (min-width: 768px) {
  .c-card__text-area {
    padding: 3.1rem 5.9rem 4rem 3.5rem;
  }
}
@media (min-width: 1280px) {
  .c-card__text-area {
    padding: 5.6rem 10.4rem 6rem 6.3rem;
  }
}

.c-container {
  display: grid;
  width: 100%;
  grid-template-rows: 217px auto 150px;
  grid-template-columns: 1fr;
}
@media (min-width: 1280px) {
  .c-container {
    grid-template-columns: 4fr 1fr;
  }
}

.c-header {
  grid-column: 1;
  grid-row: 1;
}

.c-main {
  grid-column: 1;
  grid-row: 2;
}

.c-sidebar {
  grid-column: 1;
}
@media (min-width: 1280px) {
  .c-sidebar {
    display: block;
    grid-column: 2;
    grid-row: 1/3;
  }
}

.c-footer {
  grid-column: 1;
  grid-row: 3;
}
@media (min-width: 1280px) {
  .c-footer {
    grid-column: 1/3;
    grid-row: 3;
  }
}

@media (min-width: 768px) {
  .page-numbers .c-page {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #707070;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    line-height: 1;
    transition: opacity 0.3s ease;
  }
  .page-numbers .c-page:hover {
    opacity: 0.7;
  }
  .page-numbers .c-page a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.page-numbers.current li {
  background-color: #3C2B1C;
  color: white;
  pointer-events: none;
}

.l-content--single .wp-block-columns,
.l-content--page .wp-block-columns {
  width: 100%;
  min-height: 17rem;
  display: flex;
  gap: 1rem;
}
@media (min-width: 768px) {
  .l-content--single .wp-block-columns,
.l-content--page .wp-block-columns {
    gap: 2rem;
  }
}
.l-content--single .wp-block-columns .wp-block-column:has(p),
.l-content--page .wp-block-columns .wp-block-column:has(p) {
  flex-basis: 58%;
}
.l-content--single .wp-block-columns .wp-block-column:has(figure),
.l-content--page .wp-block-columns .wp-block-column:has(figure) {
  flex-basis: 42%;
}
.l-content--single .wp-block-columns .wp-block-column p,
.l-content--page .wp-block-columns .wp-block-column p {
  margin-bottom: 0;
}

.l-content--single .wp-block-gallery {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .l-content--single .wp-block-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .l-content--single .wp-block-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.l-content--single .wp-block-gallery .wp-block-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1.7/1;
}

.c-table, tbody {
  border-collapse: collapse;
  width: 100%;
}
.c-table tr, tbody tr {
  border: solid 1px #707070;
  height: 7.7rem;
}
.c-table tr td, tbody tr td {
  border: solid 1px #707070;
  padding-left: 2.4rem;
}
@media (min-width: 768px) {
  .c-table tr td, tbody tr td {
    padding-left: 3rem;
  }
}
.c-table tr td:first-of-type, tbody tr td:first-of-type {
  width: 40%;
  text-align: left;
}
@media (min-width: 768px) {
  .c-table tr td:first-of-type, tbody tr td:first-of-type {
    width: 30%;
  }
}

ol.wp-block-list,
ul.wp-block-list {
  margin-bottom: 1.7rem;
}

.p-menu-button__text {
  display: inline-block;
  cursor: pointer;
  color: #707070;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.3rem;
  background: none;
}
@media (min-width: 768px) {
  .p-menu-button__text {
    font-size: 3.4rem;
  }
}
@media (min-width: 1280px) {
  .p-menu-button__text {
    display: none;
  }
}
.p-menu-button .is-open {
  display: none;
}

.p-menu-button--close {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
}
.p-menu-button--close__text {
  position: relative;
}
.p-menu-button--close__text::before, .p-menu-button--close__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.5rem;
  height: 0.6rem;
  background: #707070;
}
.p-menu-button--close__text::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.p-menu-button--close__text::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 1280px) {
  .p-menu-button--close {
    display: none;
  }
}

.p-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-out, visibility 300ms ease-out;
  background: #000000;
  z-index: 100;
}
.p-overlay.is-open {
  opacity: 0.5;
  visibility: visible;
}

.p-overlay--archive {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.p-box--information {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 2rem;
  margin-left: 2rem;
}
.p-box--information dl {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: rgba(255, 255, 255, 0.8);
  color: #3C2A10;
  padding: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.p-box--information dl dt {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .p-box--information dl dt {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .p-box--information dl dt {
    margin-bottom: 1rem;
  }
}
.p-box--information dl dd {
  display: flex;
  align-items: stretch;
  flex: 1;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  .p-box--information dl dd {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .p-box--information dl dd {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.p-search-form {
  display: flex;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
}
.p-search-form__box {
  position: relative;
  display: flex;
}
.p-search-form__box__icon {
  position: absolute;
  top: 50%;
  left: 0.5rem; /* アイコンの左端からの距離を調整 */
  transform: translateY(-50%);
  width: 2.4rem; /* アイコンのサイズ */
  height: 2.4rem;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .p-search-form__box__icon {
    left: 1.3rem;
  }
}
.p-search-form__box__icon::before {
  content: "";
  position: absolute;
  width: 2rem; /* レンズの直径 */
  height: 2rem; /* レンズの直径 */
  border: 2px solid #808080;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-search-form__box__icon::after {
  content: "";
  position: absolute;
  width: 1rem; /* 棒の長さ */
  border: 1px solid #808080;
  top: 75%;
  left: 75%;
  transform: rotate(45deg);
  transform-origin: top left;
}
.p-search-form__keyword {
  width: 21.6rem;
  height: 4.6rem;
  padding-left: 3.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: #000000;
  transition: all 0.3s ease;
  /* クリアボタンを非表示にするスタイルを追加 */
}
@media (min-width: 768px) {
  .p-search-form__keyword {
    width: 39.6rem;
    padding-left: 4.9rem;
  }
}
.p-search-form__keyword::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.p-search-form__submit {
  width: 9rem;
  height: 4.6rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (min-width: 768px) {
  .p-search-form__submit {
    width: 13.6rem;
  }
}

.wp-block-quote {
  background-color: #F5F5F5;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .wp-block-quote {
    padding-top: 5rem;
  }
}
.wp-block-quote blockquote, .wp-block-quote p {
  margin: 0 auto;
}
.wp-block-quote p {
  width: 90%;
}
@media (min-width: 768px) {
  .wp-block-quote p {
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .wp-block-quote p {
    width: 90%;
  }
}
.wp-block-quote p:first-of-type {
  padding-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .wp-block-quote p:first-of-type {
    padding-bottom: 5.7rem;
  }
}
.wp-block-quote p:last-of-type {
  padding-bottom: 2.7rem;
}
@media (min-width: 768px) {
  .wp-block-quote p:last-of-type {
    padding-bottom: 6.1rem;
  }
}
@media (min-width: 1280px) {
  .wp-block-quote p:last-of-type {
    padding-bottom: 4.7rem;
  }
}

.p-text--header h1 {
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 4.7rem;
}
@media (min-width: 1280px) {
  .p-text--header h1 {
    font-size: 6.4rem;
    line-height: 7.5rem;
  }
}

.p-text--menu-button {
  font-size: 1.6rem;
  color: #333;
}

.p-text--main-visual {
  font-weight: 700;
  color: #fff;
}
.p-text--main-visual h2 {
  font-size: 3.6rem;
}
@media (min-width: 1280px) {
  .p-text--main-visual h2 {
    font-size: 4rem;
  }
}
.p-text--main-visual p {
  line-height: 2.4rem;
}
.p-text--main-visual.no-thumbnail h1 {
  color: #3C2A10;
  font-size: 3.6rem;
  line-height: 4.8rem;
}
@media (min-width: 768px) {
  .p-text--main-visual.no-thumbnail h1 {
    font-size: 4.8rem;
  }
}

.p-text--content-block {
  color: #3C2B1C;
}
.p-text--content-block h3 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.2rem;
}
.p-text--content-block p {
  font-weight: 400;
  line-height: 2.4rem;
}

.p-text--card h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}
@media (min-width: 1280px) {
  .p-text--card h3 {
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
}
.p-text--card h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media (min-width: 1280px) {
  .p-text--card h4 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
.p-text--card p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.p-text--button {
  font-weight: 700;
  line-height: 1.7rem;
  color: #707070;
}
.p-text--button--404 {
  color: #fff;
}

.p-single-heading--h1 {
  font-weight: 700;
  font-size: 3.6rem;
  color: #fff;
}
@media (min-width: 768px) {
  .p-single-heading--h1 {
    font-size: 6rem;
    line-height: 9rem;
  }
}

.single,
.page {
  line-height: 2.4rem;
}
.single .p-main,
.page .p-main {
  color: #3C2A10;
}
.single .p-main h2,
.page .p-main h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.6rem;
}
@media (min-width: 768px) {
  .single .p-main h2,
.page .p-main h2 {
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
}
.single .p-main h3,
.page .p-main h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .single .p-main h3,
.page .p-main h3 {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
}
.single .p-main h4, .single .p-main h5, .single .p-main h6,
.page .p-main h4,
.page .p-main h5,
.page .p-main h6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}
.single .p-main p,
.page .p-main p {
  line-height: 2.4rem;
}
.single .p-main strong,
.page .p-main strong {
  font-weight: 700;
  line-height: 2.4rem;
  color: #3C2A10;
}
.single .p-main .wp-block-quote,
.page .p-main .wp-block-quote {
  color: #3C2A10;
}
.single .p-main .wp-block-quote a,
.page .p-main .wp-block-quote a {
  color: #4A6C9B;
  text-decoration: underline;
  line-height: 2.4rem;
  font-style: normal;
}
.single .p-main .p-text--image-block,
.page .p-main .p-text--image-block {
  line-height: 2.4rem;
  color: #3C2A10;
}
.single .p-main .wp-block-button,
.page .p-main .wp-block-button {
  font-weight: 700;
  line-height: 1.7rem;
  color: #707070;
}
.single .p-main .p-text--list,
.page .p-main .p-text--list {
  line-height: 2.4rem;
  color: #3C2A10;
}
.single .p-main .p-text--code,
.page .p-main .p-text--code {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  color: #3C2A10;
}
.single .p-main .p-text--table,
.page .p-main .p-text--table {
  line-height: 2.4rem;
  color: #3C2A10;
}
.single .p-main .p-text--table th,
.page .p-main .p-text--table th {
  font-weight: 400;
}

.p-text--pagination {
  line-height: 2.4rem;
}
@media (min-width: 768px) {
  .p-text--pagination {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 3.3rem;
    color: #707070;
  }
  .p-text--pagination li.is-active {
    color: #fff;
  }
}

.p-text--footer {
  font-weight: 400;
  color: #fff;
}
.p-text--footer__menu {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .p-text--footer__menu {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.p-text--footer__copyright {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.p-text--404 h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}
@media (min-width: 768px) {
  .p-text--404 h2 {
    font-size: 3rem;
    line-height: 5.3rem;
  }
}
.p-text--404 p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

body.is-open {
  position: fixed;
  overflow: hidden;
}
@media (min-width: 1280px) {
  body.is-open {
    position: static;
  }
}
/*# sourceMappingURL=style.css.map */