@use "../../foundation/mixin";
@use "../../foundation/variables";

.l-content--single,
.l-content--page {
    .wp-block-columns {
        width: 100%;
        min-height: 17rem;
        display: flex;
        gap: 1rem;
        @include mixin.breakpoint(tablet) {
            gap: 2rem;
        }
        .wp-block-column {
            &:has(p) {
                flex-basis: 58%;
            }
            &:has(figure) {
                flex-basis: 42%;
            }
            p {
                margin-bottom: 0;
            }
        }
    }   
}