@use "../../foundation/mixin";
@use "../../foundation/variables";

.c-table, tbody {
    border-collapse: collapse;
    width: 100%;
    tr {
        border: solid 1px variables.$color--dark-gray;
        height: 7.7rem;
        td {
            border: solid 1px variables.$color--dark-gray;
            padding-left: 2.4rem;
            @include mixin.breakpoint(tablet) {
                padding-left: 3rem;
            }
            &:first-of-type {
                width: 40%;
                text-align: left;
                @include mixin.breakpoint(tablet) {
                    width: 30%;
                }
            }
        }
        
    }
}