@use "../../foundation/mixin";
@use "../../foundation/variables";

.wp-block-quote {
    background-color: variables.$color--gray;
    padding-top: 3rem;
    @include mixin.breakpoint(tablet) {
        padding-top: 5rem;
    }
    blockquote, p {
        margin: 0 auto;
    }
    p {
        width: 90%;
        @include mixin.breakpoint(tablet) {
            width: 85%;
        }
        @include mixin.breakpoint(pc) {
            width: 90%;
        }
        &:first-of-type {
            padding-bottom: 2.7rem;
            @include mixin.breakpoint(tablet) {
                padding-bottom: 5.7rem;
            }
        }
        &:last-of-type {
            padding-bottom: 2.7rem;
            @include mixin.breakpoint(tablet) {
                padding-bottom: 6.1rem;
            }
            @include mixin.breakpoint(pc) {
                padding-bottom: 4.7rem;
            }
        }
    }
}