@use "../../foundation/variables";
@use "../../foundation/mixin";

.p-search-form {
    display: flex;
    column-gap: 1.4rem;
    &__box {
        position: relative;
        display: flex;
        &__icon {
            position: absolute;
            top: 50%;
            left: 0.5rem; /* アイコンの左端からの距離を調整 */
            transform: translateY(-50%);
            width: 2.4rem; /* アイコンのサイズ */
            height: 2.4rem;
            border: none;
            @include mixin.breakpoint(tablet) {
                left: 1.3rem;
            }
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                width: 2rem; /* レンズの直径 */
                height: 2rem; /* レンズの直径 */
                border: 2px solid variables.$color--ash-gray;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::after {
                content: '';
                position: absolute;
                width: 1rem; /* 棒の長さ */
                border: 1px solid variables.$color--ash-gray;
                top: 75%;
                left: 75%;
                transform: rotate(45deg);
                transform-origin: top left;
            }
        }
    }
    &__keyword {
        width: 21.6rem;
        height: 4.6rem;
        padding-left: 3.4rem;
        font-weight: 700;
        font-size: 1.6rem;
        color: variables.$color--black;
        transition: all 0.3s ease;
        @include mixin.breakpoint(tablet) {
            width: 39.6rem;
            padding-left: 4.9rem;
        }
        /* クリアボタンを非表示にするスタイルを追加 */
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
        }
    }
    &__submit {
        width: 9rem;
        height: 4.6rem;
        transition: all 0.3s ease;
        cursor: pointer;
        @include mixin.breakpoint(tablet) {
            width: 13.6rem;
        }
    }
    
}
